<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Valiant Dil Hizmetleri</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by CocoBasic" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="CocoBasic" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/icon.ico" />    
        <link href='https://fonts.googleapis.com/css?family=Rubik:400,700,700i' rel='stylesheet' type='text/css'>		
        <link rel="stylesheet" type="text/css"  href='style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->         
    </head>

    <body class="page-template-onepage">
        <div class="site-wrapper">   

            <div class="doc-loader">
                <img src="images/preloader.gif" alt="Seppo">
            </div>       

            <header class="header-holder">             
                <div class="menu-wrapper center-relative relative">             
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="Seppo">
                        </a>               
                    </div>

                    <div class="toggle-holder">
                        <div id="toggle">
                            <div class="first-menu-line"></div>
                            <div class="second-menu-line"></div>
                            <div class="third-menu-line"></div>
                        </div>
                    </div>

                    <div class="menu-holder">
                        <nav id="header-main-menu">
                            <ul class="main-menu sm sm-clean">
                                <li>
                                    <a href="#home">Anasayfa</a>
                                </li>
                                <li>
                                    <a href="#about">Çeviri</a>
                                </li>
                                <li>
                                    <a href="#news">Uzmanlık Alanlarımız</a>
                                </li>
                                <li>
                                    <a href="#pricing">Teslim Etme</a>
                                </li>
                                <li>
                                    <a href="#contact">İletişim</a>
                                </li>
                            </ul>
                        </nav>                       
                    </div>
                    <div class="clear"></div>   
                </div>
            </header>                  

            <div id="content" class="site-content center-relative">        

                <!-- Home Section -->
                <div id="home" class="section no-page-title">                   
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">                           
                            <h1 class="big-text">
                                Valiant <br>                               
                                Dil Hizmetleri 
                            </h1>
                            <h1 class="sologan">
                                Uzmanligimiz, tutkumuz, memnuniyetiniz. 
                            </h1>
                        </div>                        
                    </div>
                </div> 

                <!-- Services Section -->
                <div id="services" class="section">                   
                    <div class="block">                                                
                        <div class="content-wrapper">
                            <div class="one_third ">
                                <div class="service-holder">
                                    <div class="metin3">
                                        <p>
                                            Küresel bir dünyada küresel fırsatlara ulaşmak, işlerinizi büyütmek, ürün ve hizmetlerinizi her ülkede aynı verimlilik ile sunmak mı istiyorsunuz?
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="one_third ">
                                <div class="service-holder">
                                    <div class="metin3">
                                        <p>
                                            Yurt dışı kökenli iş süreçlerinde sorun mu yaşıyorsunuz? Tutarsız çeviriler, anlaşılması zor ifadeler, geciken iş teslimleri hayatınızı mı zorlaştırıyor?  
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="one_third last">
                                <div class="service-holder">
                                    <div class="metin3">
                                        <p>
                                            Çok kültürlü kurumsal yapınız, iletişim sorunları ile mi boğuşuyor? Kurum içi iletişimde yaşanan sorunlar yüzünden çeviri korkulu rüyanız mı oldu? Bir dilde attığınız e-posta herkese günaydın derken çeviri e-postanız herkesi işten mi çıkarıyor? 
                                        </p>
                                        <br>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="orta-sologan">
                                    <p>Valiant ile tam zamanında, tam anlamıyla dil çözümlerine kavuşun. </p>
                                </div>
                            </div>    
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div>

                <!-- About Section //çeviri -->
                <div id="about" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            ÇEVİRİ             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">

                            <div class=>
                                <h2 class="entry-title medium-text">
                                    Çeviri Neden Önemli?
                                </h2>
                                <p class="orta-metin">
                                    Yukarıda birkaç küçük örneği ile değindiğimiz Çeviri (Tercüme) faaliyeti uluslararası iletişim ve ticarette son derece önemli bir rol üstlenir. İster teknik bir kılavuz olsun, ister bir aşk şiiri, metnin kaynak dil ve kültüründe doğru şekilde yorumlanması ve hedef dile aynı anlam ve etkiyi yansıtacak şekilde aktarılması zorlu ve uzmanlık gerektiren bir süreçtir. 
Her uzmanlık alanında kaynak dilde verilen anlamı en iyi şekilde anlamak ve hedef dile doğal ve isabetli şekilde aktarmak için çevirmenlerin ilgili alan diline aşina olması ve yalnızca deneyimli oldukları alanlarda çalışması gerekir. Valiant uzman ve deneyimli çevirmen kadrosu ile her çeviri sürecini en etkili iletişim hedefi doğrultusunda yürütür. 
Çevirinin başlıca amacının taraflar arasında iletişimi sağlamak olduğu görüşü ile çeviri metinlerinde okuyucuyu rahatsız edecek en ufak yazım hatasından, metnin anlamını değiştirebilecek yapısal hatalara kadar her türlü hataya ve soruna dikkat ediyoruz. 
Çevirileriniz terminoloji uzmanlarından başlayan ve çevirmenlerin, editörlerin ve son okuyucuların özel çeviri teknolojilerini (CAT Tools) kullanarak eşgüdümlü çalıştığı verimli bir süreç içerisinde en ideal şekilde tamamlanır. Tüm projeleriniz sizden gelen talepler ve metnin özellikleri doğrultusunda incelenir, önceliklendirilir ve en iyi çözümü sağlayacak şekilde tamamlanır.

                                </p>
                                <br>
                                <div class="button-holder text-left">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div> 

                <!-- Clients Section -->
 
                <!-- News Section -->
                <div id="news" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            UZMANLIK ALANLARIMIZ             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">
                            <div class="blog-holder-scode latest-posts-scode block center-relative">

                                <article class="relative blog-item-holder-scode">
                                    <div class="post-thumbnail"><!-- kücük resimler gelicek -->

                                    </div>
                                    <h4 class="entry-title">
                                        <a href="single.html">
                                            Teknik Çeviri
                                        </a>
                                    </h4>
                                    <div class="excerpt">
                                        Uluslararası ticaretin en önemli adımlarından biri iletişim sürecidir. Teknik Çeviri cihazların kullanma kılavuzlarından uluslararası ticaret sözleşmelerine, teknik cihaz tanımlarından know-how belgelerine kadar birçok metni kapsayan bir alandır. Çeviri çözüm ortağınız Valiant Teknik Çeviri ekibi, uzman kadrosu ve deneyimli çevirmenleri ile çeviri süreçlerinizi en etkili şekilde yürütmeye hazırdır.
                                    </div>
                                </article>

                                <article class="relative blog-item-holder-scode">
                                    <div class="post-thumbnail"><!-- kücük resimler gelicek -->
                                    </div>
                                    <h4 class="entry-title">
                                        <a href="single.html">
                                            Yerelleştirme
                                        </a>
                                    </h4>
                                    <div class="excerpt">
                                        Günümüz dijital dünyasında önemli içerik ve bilgilere erişim zaruri hale gelmiştir. İnternet herkes için kolayca erişilebilir, açık kaynak bir bilgi aracı gibi düşünülüyor olsa da dil engeli internet ve bilişim kaynaklarında da belirgindir. Bir analize göre internetin %58’i İngilizce ve sadece %2’si Türkçe olarak erişilebilir haldedir. Yerelleştirme dijital ögelerin alana özgü kısıtlamaları doğrultusunda çevirisini gerektirir.
                                    </div>
                                </article>

                                <article class="relative blog-item-holder-scode">
                                    <div class="post-thumbnail"> <!-- kücük resimler gelicek -->
                                    </div> 
                                    <h4 class="entry-title">
                                        <a href="single.html">
                                            Sözlü Çeviri
                                        </a>
                                    </h4>
                                    <div class="excerpt">
                                        Teknoloji ne kadar ilerlemiş olsa da insanlar arasında yüz yüze iletişimin yeri doldurulamaz. Çok dilli toplantılarınızda sözlü çeviri hizmetlerimizden faydalanarak dil sorununu pürüzsüz şekilde aşabilirsiniz. Andaş (Simültane), Ardıl ve Refakat çevirisi gibi yöntemlerle tüm ihtiyaçlarınıza çözüm sunuyoruz.
                                    </div>
                                </article>                                                                    
                            </div>
                            <br>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Pricing Section -->
                <div id="pricing" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            Teslim Süresi Nasıl Hesaplanır             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">

                            <div class="one_third">
                                <div class="pricing-table ">
                                    <div class="pricing-wrapper">                   
                                        <div class="pricing-table-content-holder">  
                                            <ul>
                                                <p class="metin1">İletişim süreçlerinde yaşanan gecikmelerin etkili iletişimi derinden etkilediğini çok iyi biliyoruz. Çeviri projeleriniz öncelikle en iyi kaliteyi sağlama hedefi doğrultusunda planlanır. Çeviri Proje süreçlerinde rol alacak her bireyin standartlaşmış metin analizleri doğrultusunda çalışma süresi ve beklenen kalite düzeyi tespit edilir. Projenin en iyi kalite ile teslim edilebilmesi için siz proje sahiplerinden başlayarak süreç içerisindeki herkesin iletişim halinde kalması ve görevlerini eşgüdümlü şekilde sürdürmesi sağlanır. </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pricing-button">

                                    </div>
                                </div>
                            </div>

                            <div class="one_third">
                                <div class="pricing-table ">
                                    <div class="pricing-wrapper">                   
                                        <div class="pricing-table-header">                                               
                                        </div>
                                        <div class="pricing-table-content-holder">  
                                            <ul>                                                 
                                                <p class="metin2"> Projeniz teslim alındıktan sonra yapılan atamalarla her bir adımın ideal sürelerde tamamlanması sağlanır ve proje ilerlemesi dijital araçlarla takip edilir. Böylece projenizin ilk değerlendirmesinde teslim edileceği gün ve saati, her bir aşamasında ilerleme durumunu ve halihazırda yapılan çalışmayı öğrenebilirsiniz. </p>
                                            </ul>                                            
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="one_third last">
                                <div class="pricing-table ">
                                    <div class="pricing-wrapper">                   
                                        <div class="pricing-table-content-holder">  
                                            <ul><p class="metin3">Çeviri projelerinde en iyi kaliteyi sağlama hedefi doğrultusunda, çeviri projenizin teklifi ideal süreler doğrultusunda hazırlanır. Çeviri çözüm ortağınız olarak süreç kalitesi birincil önceliğimizdir. Öte yandan, acil çeviri ihtiyaçlarınız da göz ardı edilmemektedir. Çeviri projeniz için sunulan ilk teklifte verilen teslim süresini uygun bulmamanız halinde, bize beklentinizi iletmeniz yeterlidir. İstediğiniz teslim tarihini karşılayan ve metin kalitesi ile süreç maliyeti üzerindeki etkileri açıkça belirten yeni bir süreç teklifi isteyebilirsiniz.</p>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>                        
                    </div>
                </div> 

                <!-- Team Section -->
                <!-- Skills Section -->
                <!-- Millstones Section  Diğer Hizmetlerimiz -->
                <!-- Contact Section -->
                <div id="contact" class="section">                   
                    <div class="page-title-holder">
                        <h3 class="entry-title">
                            İLETİŞİM             
                        </h3>
                    </div>
                    <div class="section-wrapper block content-1170 center-relative">                                                
                        <div class="content-wrapper">
                            <div class="one_half ">
                                <p class="title-description-up">BİZE ULAŞIN</p>
                                <h2 class="contact-giris">
                                    Beraber çalışalım
                                </h2>
                                <p class="iletisim">
                                    Mail adresimiz : info@valianttr.com <br>
                                    Adresimiz : Cihangir Mh. Akdeniz Sk. No: 5 Avcılar/İstanbul <br>
                                    Telefon : 538 792 43 33 <br>
                                </p>
                                <p class="iletisim">Belgenizi ve iletişim bilgilerinizi ekleyerek proje analizi isteyebilirsiniz.</p>
                                <br>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </div>
                                <div class="social">
                                    <a href="#" target="_blank">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="one_half last ">
                                <div class="contact-form">
                                    <p>
                                        <input id="name" type="text" name="your-name" placeholder="İsminiz">
                                    </p>
                                    <p>
                                        <input id="contact-email" type="email" name="your-email" placeholder="Email">
                                    </p>                                    
                                    <p>
                                        <input id="subject" type="text" name="your-subject" placeholder="Konu">
                                    </p>
                                    <p>
                                        <textarea id="message" name="your-message" placeholder="Mesajınız"></textarea>
                                    </p>
                                    <p class="contact-submit-holder">
                                        <input type="submit" value="GÖNDER">
                                    </p>  
                                </div>
                            </div>                            
                            <div class="clear"></div>

                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.656964434027!2d28.709405214644264!3d40.98899177930274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa056dbae69a3%3A0xb61b6c479b051b98!2zQ2loYW5naXIsIEFrZGVuaXogU2suIE5vOjUsIDM0MzEwIEF2Y8SxbGFyL8Swc3RhbmJ1bCwgVMO8cmtpeWU!5e0!3m2!1str!2sus!4v1679006758684!5m2!1str!2sus" width="600" height="450" allowfullscreen="allowfullscreen"></iframe>
                            </p>

                        </div>                        
                    </div>
                </div> 
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="footer-content center-relative">
                    <div class="footer-logo">
                        <img src="images/footer_logo.png" alt="Seppo" />
                    </div>        
                    <div class="footer-logo-divider"></div>
                    <div class="footer-mail">            
                        <a href="mailto:info@valianttr.com">info@valianttr.com</a>
                    </div>
                    <div class="footer-social-divider"></div>
                    <div class="social-holder">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-behance"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </div>
                </div>
            </footer>
        </div>

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src="js/jquery.sticky.js"></script>			                                       
        <script src="js/tipper.js"></script>			                                       
        <script src="js/jarallax.js"></script>			                                       
        <script src="js/jarallax-element.min.js"></script>			                                       
        <script src='js/imagesloaded.pkgd.js'></script>                
        <script src='js/jquery.fitvids.js'></script>                
        <script src='js/jquery.smartmenus.min.js'></script>                                 
        <script src='js/isotope.pkgd.js'></script>                                                 
        <script src='js/owl.carousel.min.js'></script>                          
        <script src='js/jquery.sticky-kit.min.js'></script>                          
        <script src='js/main.js'></script>
    </body>
</html>